body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(37, 122, 159, 0.76);
}

a {
  color: #00B7FF;
}

section {
  margin: 1em;
}

img {
  width: 200px;
  height: 200px;
}
